/* ---------GENERAL STYLE---------- */
*{
    background-color: black;
    font-family: 'Play', sans-serif;
  }
  
  #root {
    padding: 2rem;
    text-align: center;
  }
  
  h1{
    color: rgb(0, 225, 255);
  }
  
  a{
    text-decoration: none;
  }
  
  p{
    color: white;
  }
  
  .row{
    border-radius: 35px;
  }
  
  .container{
    border-radius: 35px;
    padding: 20px;
  }
  /* -----------NAVBAR STYLE------------ */
#link1{
  background-color: black;
  border: none;
  padding: 0px;
}
  
#link2{
  background-color: black;
  color: rgb(0, 225, 255);
  border: none;
  font-size: 20px;
  will-change: filter;
  transition: filter 300ms;
}
  
#link2:hover{
  filter: drop-shadow(0 0 2em #d864ffaa);
  color: rgb(0, 225, 255) ;
  background-color: #d864ffaa;
  transition: 0.5s;
  font-weight: bolder;
}

.logo {
  height: 4em;
  width: 10em;
  padding: 0px;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 5px;
  margin: 0px;
}
/* --------------ABOUT ME STYLE-------------- */
#h1AboutMe{
  text-align: left;
  color: #d864ffaa;
}
  
  
 
 
#icon{
  width: 10%;
  height: 15%;
  margin-left: 20px;
  margin-top: 10px;
}

#containerFrontAbout{
  margin-top: 100px;
  margin-bottom: 100px;
}